@use './homeImgSlider';
@use './about';
@use './pricing.scss';
@use './decorationsTypes.scss';
@use './galleryHome.scss';
@use './contactForm.scss';



.main-home-page{
    display: flex;
    flex-direction: column;
    gap: 26rem;
}