@use './Components//Navigation.scss';

* {
    font-family: "eurostile", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// a{
//   color: variables.$mianTextColor;
// }



*:focus {
    outline: none;
}

li {
    list-style: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media screen and (max-width: 900px) {
      font-size: 80%;
    }

    @media screen and (max-width: 600px) {
      font-size: 70%;
    }
}

body{
  font-family: "europa", sans-serif;
//   background-color: variables.$background-color;
  position: relative;
}



a {
  text-decoration: none;
}


//ScrollBar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: all 0.3s;
  // border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
//   background: variables.$mainColor; 
  transition: all 0.3s;
  // border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: pointer;
}