$mainShodws: 0px 0px 12px 0px #33333363;
$mainShodwsLight: 0 1px 12px 0 rgba(204, 204, 204, 0.267);
$bg-color: #fff6f5;
$primaryColor: #ff6b6b;


$text-white: #fff;
$text-white-hov: #ffffffb6;


$text-dark: #333;
$text-dark-hov: #333333a6;
